## **Reto 1**
### Curso de Machine Learning 2020-20
Autores:
*    Andrés Enrique Ávila Rojas (201319127)
*   Jeison Alexander Timana Rangel (201617870)

**Predicción de la expectativa de vida**

In [ ]:
# Import libraries 
import numpy as np 
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score # las dos medidas que se van a utilizar pero en diferentes datasets.
from sklearn.model_selection import train_test_split

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto1/Life_Expectancy_Data.csv

In [ ]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto1/Life_Expectancy_Data.csv"
data  = pd.read_csv(url)

Se reemplazan los datos de la columna Status por una variable binaria, donde el 0 indica "Developing" y el 1 indica "Developed". Además se elimina la variable Country del conjunto de datos totales.

In [ ]:
# Preparing data
data['Status'].replace(['Developing','Developed'],[0,1], inplace=True)
# Deleting variable named "Country"
del data['Country']
# Converting nan values to zero
   #data=data.dropna()
# Showing the data set
data.head(130)

     Year  Status  ...  Income composition of resources  Schooling
0    2015       0  ...                            0.479       10.1
1    2014       0  ...                            0.476       10.0
2    2013       0  ...                            0.470        9.9
3    2012       0  ...                            0.463        9.8
4    2011       0  ...                            0.454        9.5
..    ...     ...  ...                              ...        ...
125  2002       1  ...                            0.902       20.1
126  2001       1  ...                            0.899       20.5
127  2000       1  ...                            0.897       20.4
128  2015       1  ...                            0.892       15.9
129  2014       1  ...                            0.892       15.9

[130 rows x 21 columns]

Se separan los datos objetivo y los datos del modelo

In [ ]:
# Target dataset (Life expectancy)
#data_Y=data.loc[:,'Life expectancy ']
# Deleting the targets to define the whole dataset for models
#del data['Life expectancy ']
data_X=data


mod1 = ['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Life expectancy ']
data1 = data.loc[:, mod1]
data1 = data1.dropna()
y_mod1 = data1.loc[:, 'Life expectancy ']
data1.drop(['Life expectancy '], axis='columns', inplace=True)


mod2 = [ 'Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ',
' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Life expectancy ']
data2 = data.loc[:, mod2]
data2 = data2.dropna()
y_mod2 = data2.loc[:, 'Life expectancy ']
data2.drop(['Life expectancy '], axis='columns', inplace=True)

#mod3 = [ 'Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ',
#' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
#' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Life expectancy ']

mod3 = ['Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', ' HIV/AIDS', 'GDP', 'Population', 'Income composition of resources', 'Schooling']


data3 = data.loc[:, mod3]
data3 = data3.dropna()
y_mod3 = data3.loc[:, 'Life expectancy ']
data3.drop(['Life expectancy '], axis='columns', inplace=True)

Se parte en el conjunto de entrenamiento (train) y el de prueba (test) y se seleccionan los distintos modelos

In [ ]:
data_X_train1, data_X_test1, data_Y_train1, data_Y_test1 = train_test_split(data1,y_mod1, test_size=0.2)
data_X_train2, data_X_test2, data_Y_train2, data_Y_test2 = train_test_split(data2,y_mod2, test_size=0.2)
data_X_train3, data_X_test3, data_Y_train3, data_Y_test3 = train_test_split(data3,y_mod3, test_size=0.2)
# First model
#data_m1_X_train = data_X_train.iloc[:, 0:11]
#data_m1_X_test = data_X_test.iloc[:, 0:11]

# Second model
#modelo_2 = ['Status','Adult Mortality','infant deaths','Alcohol','Hepatitis B','Measles ',' BMI ','under-five deaths ','Polio','Diphtheria ',' HIV/AIDS','GDP','Population',' thinness  1-19 years',' thinness 5-9 years']
#data_m2_X_train = data_X_train.loc[:, modelo_2]
#data_m2_X_test = data_X_test.loc[:, modelo_2]

# Third model
#data_m3_X_train = data_X_train
#data_m3_X_test = data_X_test

### **Regresión Lineal para el modelo 1**

In [ ]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_X_train1,  data_Y_train1)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [ 8.99054049e-02  2.15319876e+00 -3.71031291e-02  1.54810354e-01
  2.82284428e-01  6.04953171e-04  1.01571382e-02 -1.70362781e-05
  7.58828035e-02 -1.19353830e-01  3.65294702e-02]
Intercepto: -113.23521126726978

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [ ]:
# Making predictions using the testing set
data_m1_Y_predict = regr.predict(data_X_test1)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m1=r2_score(data_Y_test1,data_m1_Y_predict)
k = data_X_train1.shape[1]
n=len(data_Y_train1)
r2_ajustado_m1 = 1-((n-1)/(n-k-1))*(1-r2_m1)

# Finding de Mean Squared Error
MSE_m1 = mean_squared_error(data_Y_test1, data_m1_Y_predict)

# Show results in a table
results_m1 = np.array([r2_ajustado_m1,MSE_m1])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m1,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.637243
MSE                     24.418901

### **Regresión Lineal para el modelo 2**

In [ ]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_X_train2, data_Y_train2)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [-1.15972511e-01  7.04822580e-01 -1.69149707e-02  8.66037530e-02
 -7.14217979e-02  3.37688033e-04  1.75782703e-03 -5.36506104e-06
  3.28796122e-02 -6.53378248e-02 -4.55816049e-01  1.93947786e-05
 -1.65038139e-09  1.11541390e+01  9.26051521e-01]
Intercepto: 286.266618926865

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [ ]:
# Making predictions using the testing set

data_m2_Y_predict = regr.predict(data_X_test2)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m2=r2_score(data_Y_test2,data_m2_Y_predict)
k = data_X_train2.shape[1]
n=len(data_Y_train2)
r2_ajustado_m2 = 1-((n-1)/(n-k-1))*(1-r2_m2)

# Finding de Mean Squared Error
MSE_m2 = mean_squared_error(data_Y_test2, data_m2_Y_predict)

# Show results in a table
results_m2 = np.array([r2_ajustado_m2,MSE_m2])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m2,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.792188
MSE                     13.609525

### **Regresión Lineal para el modelo 3**

In [ ]:
# Creating the linear regression object

regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_X_train3, data_Y_train3)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [-1.26567290e-01  9.22734865e-01 -1.53850776e-02  8.57508820e-02
 -9.91605096e-02  3.93315435e-04  5.98189159e-03 -6.63760333e-06
  3.96472256e-02 -6.56339629e-02 -4.64816889e-01  7.53706309e-06
  1.86552107e-10  1.19705428e+01  8.77904787e-01]
Intercepto: 306.8561282303434

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [ ]:
# Making predictions using the testing set

data_m3_Y_predict = regr.predict(data_X_test3)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m3=r2_score(data_Y_test3,data_m3_Y_predict)
k = data_X_train3.shape[1]
n=len(data_Y_train3)
r2_ajustado_m3 = 1-((n-1)/(n-k-1))*(1-r2_m3)

# Finding de Mean Squared Error
MSE_m3 = mean_squared_error(data_Y_test3, data_m3_Y_predict)

# Show results in a table
results_m3 = np.array([r2_ajustado_m3,MSE_m3])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m3,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.826935
MSE                     13.437261

### **Análisis y selección final del modelo**

In [ ]:
medida =['Coef. Determ. Ajustado', 'MSE']
results = {'Modelo 1': results_m1,
           'Modelo 2': results_m2,
           'Modelo 3': results_m3}
pd.DataFrame(results,medida,columns=['Modelo 1','Modelo 2', 'Modelo 3'])

                         Modelo 1   Modelo 2   Modelo 3
Coef. Determ. Ajustado   0.637243   0.792188   0.826935
MSE                     24.418901  13.609525  13.437261

Como se puede notar en la tabla anterior, el mejor modelo es el modelo 3. Este modelo es el que cuenta con el coeficiente de derterminación ajustado más cercano a 1, y con el menor error cuadrático medio, por lo que es considerado el mejor. Este modelo incluye 16 de las 20 variables disponibles para el análisis.

Para determinar cuál es la variable que afecta en mayor medida la esperanza de vida se comparan las correlaciones entre las variables que se usa en el módelo y la esperanza de vida.

Se usa la correlación como criterio de decisión respecto a la variable que afecta en mayor medida la esperanza de vida, puesto que este valor permite medir el nivel de asociación que hay entre dos variables. El coeficiente de correlación de Pearson varía entre -1 y 1, su signo dependerá de la covarianza. Que el coeficiente sea cero solo significa que las variables no tienen ninguna relación lineal, pero puede que tengan otro tipo de relación. Teniendo en cuenta el modelo lineal seleccionado, se calculan los coeficientes de correlación de pearson para cada variable respecto a la variable esperanza de vida, y se selecciona la variable que mayor coeficiente de correlación tenga (el más cercano a 1 o -1).

In [ ]:
n = len(data_X_train3.columns)
pearson_corr = [0]*n # Vector para ubicar las correlaciones por columna
for i in range(n):
  data_m3_X=data_X_train3.iloc[:,i]
  pearson_corr[i]=data_Y_train3.corr(data_m3_X) # Se calcula la correlación de los datos objetivo y cada una de las columnas

def abs_lista(lista):
  for i in range(len(lista)):
    lista[i] = abs(lista[i])

abs_lista(pearson_corr) # Se saca el valor absoluto para dejar los valores en 0 y 1
max_pearson_corr = np.max(pearson_corr)
num_col = np.argmax(pearson_corr)
names = list(data_X_train3.columns)
print("Variable con mayor correlación:",names[num_col])
print("El valor de la correlación es", max_pearson_corr)

Variable con mayor correlación: Schooling
El valor de la correlación es 0.731564178420859

Teniendo en cuenta los valores previamente mostrados, se confirma que la variable con mayor peso sobre el módelo esperanza de vida es la variable de estudios (Schooling).