<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto1/reto1_ML_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Reto 1**
### Curso de Machine Learning 2020-20
Autores:
*    Andrés Enrique Ávila Rojas (201319127)
*   Jeison Alexander Timana Rangel (Código)

**Predicción de la expectativa de vida**

In [1]:
# Import libraries 
import numpy as np 
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score # las dos medidas que se van a utilizar pero en diferentes datasets.
from sklearn.model_selection import train_test_split

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto1/Life_Expectancy_Data.csv

In [2]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto1/Life_Expectancy_Data.csv"
data  = pd.read_csv(url)

Se reemplazan los datos de la columna Status por una variable binaria, donde el 0 indica "Developing" y el 1 indica "Developed". Además se elimina la variable Country del conjunto de datos totales.

In [3]:
# Preparing data
data['Status'].replace(['Developing','Developed'],[0,1], inplace=True)
# Deleting variable named "Country"
del data['Country']
# Converting nan values to zero
data=data.dropna()
# Showing the data set
data.head(130)

     Year  Status  ...  Income composition of resources  Schooling
0    2015       0  ...                            0.479       10.1
1    2014       0  ...                            0.476       10.0
2    2013       0  ...                            0.470        9.9
3    2012       0  ...                            0.463        9.8
4    2011       0  ...                            0.454        9.5
..    ...     ...  ...                              ...        ...
197  2010       0  ...                            0.535        8.9
198  2009       0  ...                            0.523        8.4
199  2008       0  ...                            0.520        8.6
200  2007       0  ...                            0.513        8.6
201  2006       0  ...                            0.506        8.4

[130 rows x 21 columns]

Se separan los datos objetivo y los datos del modelo

In [4]:
# Target dataset (Life expectancy)
data_Y=data.loc[:,'Life expectancy ']
# Deleting the targets to define the whole dataset for models
del data['Life expectancy ']
data_X=data

Se parte en el conjunto de entrenamiento (train) y el de prueba (test) y se seleccionan los distintos modelos

In [5]:
data_X_train, data_X_test, data_Y_train, data_Y_test = train_test_split(data_X,data_Y, test_size=0.2)
# First model
data_m1_X_train = data_X_train.iloc[:, 0:11]
data_m1_X_test = data_X_test.iloc[:, 0:11]

# Second model
modelo_2 = ['Status','Adult Mortality','infant deaths','Alcohol','Hepatitis B','Measles ',' BMI ','under-five deaths ','Polio','Diphtheria ',' HIV/AIDS','GDP','Population',' thinness  1-19 years',' thinness 5-9 years']
data_m2_X_train = data_X_train.loc[:, modelo_2]
data_m2_X_test = data_X_test.loc[:, modelo_2]

# Third model
data_m3_X_train = data_X_train
data_m3_X_test = data_X_test

### **Regresión Lineal para el modelo 1**

In [6]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m1_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [ 8.33340295e-02  1.76209073e+00 -3.47029160e-02  1.32691714e-01
  2.85275779e-01  6.89056929e-04  3.06839277e-03 -1.69507271e-05
  9.69860189e-02 -1.00567763e-01  2.94653355e-02]
Intercepto: -100.34221045238411

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [7]:
# Making predictions using the testing set
data_m1_Y_predict = regr.predict(data_m1_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m1=r2_score(data_Y_test,data_m1_Y_predict)
k = data_m1_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m1 = 1-((n-1)/(n-k-1))*(1-r2_m1)

# Finding de Mean Squared Error
MSE_m1 = mean_squared_error(data_Y_test, data_m1_Y_predict)

# Show results in a table
results_m1 = np.array([r2_ajustado_m1,MSE_m1])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m1,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.700455
MSE                     22.377166

### **Regresión Lineal para el modelo 2**

In [8]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m2_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [ 1.50574227e+00 -2.12228795e-02  1.25423537e-01  2.52792303e-01
 -8.46444856e-03 -2.46535296e-05  7.89980206e-02 -9.37120466e-02
  1.67732832e-02  3.73489280e-02 -4.51614589e-01  1.17679851e-04
  1.54676567e-09 -1.34752779e-01 -3.81495458e-02]
Intercepto: 65.90714515080931

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [9]:
# Making predictions using the testing set
data_m2_Y_predict = regr.predict(data_m2_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m2=r2_score(data_Y_test,data_m2_Y_predict)
k = data_m2_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m2 = 1-((n-1)/(n-k-1))*(1-r2_m2)

# Finding de Mean Squared Error
MSE_m2 = mean_squared_error(data_Y_test, data_m2_Y_predict)

# Show results in a table
results_m2 = np.array([r2_ajustado_m2,MSE_m2])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m2,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.761078
MSE                     17.793783

### **Regresión Lineal para el modelo 3**

In [10]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m3_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [-1.33225793e-01  7.92347291e-01 -1.51310840e-02  8.53919255e-02
 -1.32738491e-01  4.00062171e-04 -5.32418100e-03 -1.36237455e-05
  2.84465637e-02 -6.38665244e-02  2.45169092e-03  1.05136841e-01
  1.74048445e-02 -4.62753878e-01  1.35718365e-05 -6.65689573e-10
  3.54011541e-02 -9.38442296e-02  1.10983096e+01  8.87265893e-01]
Intercepto: 320.0929608071382

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [11]:
# Making predictions using the testing set
data_m3_Y_predict = regr.predict(data_m3_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m3=r2_score(data_Y_test,data_m3_Y_predict)
k = data_m3_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m3 = 1-((n-1)/(n-k-1))*(1-r2_m3)

# Finding de Mean Squared Error
MSE_m3 = mean_squared_error(data_Y_test, data_m3_Y_predict)

# Show results in a table
results_m3 = np.array([r2_ajustado_m3,MSE_m3])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m3,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.835239
MSE                     12.223559

### **Análisis y selección final del modelo**

In [12]:
medida =['Coef. Determ. Ajustado', 'MSE']
results = {'Modelo 1': results_m1,
           'Modelo 2': results_m2,
           'Modelo 3': results_m3}
pd.DataFrame(results,medida,columns=['Modelo 1','Modelo 2', 'Modelo 3'])

                         Modelo 1   Modelo 2   Modelo 3
Coef. Determ. Ajustado   0.700455   0.761078   0.835239
MSE                     22.377166  17.793783  12.223559

Como se puede notar en la tabla anterior, el mejor modelo es el modelo 3. Este modelo es el que cuenta con el coeficiente de derterminación ajustado más cercano a 1, y con el menor error cuadrático medio, por lo que es considerado el mejor. Este modelo incluía todas las variables entregadas y que podrían ser usadas para el análisis.

Para determinar cuál es la variable que afecta en mayor medida la esperanza de vida se miran los valores de los coeficientes, teniendo en cuenta que el coeficiente de la variable Income composition of resources es mayor que el resto, esta es la variable que mayor afecta a la esperanza de vida.

Un segundo criterio de decisión respecto a la variable que afecta en mayor medida la esperanza de vida es el coeficiente de correlación, puesto que este valor permite medir el nivel de asociación que hay entre dos variables. El coeficiente de correlación de Pearson varía entre -1 y 1, su signo dependerá de la covarianza. Que el coeficiente sea cero solo significa que las variables no tienen ninguna relación lineal, pero puede que tengan otro tipo de relación. Teniendo en cuenta el modelo lineal seleccionado, se calculan los coeficientes de correlación de pearson para cada variable respecto a la variable esperanza de vida, y se selecciona la variable que mayor coeficiente de correlación tenga (el más cercano a 1 o -1).

In [13]:
n = len(data_m3_X_train.columns)
pearson_corr = [0]*n # Vector para ubicar las correlaciones por columna
for i in range(n):
  data_m3_X=data_m3_X_train.iloc[:,i]
  pearson_corr[i]=data_Y_train.corr(data_m3_X) # Se calcula la correlación de los datos objetivo y cada una de las columnas

def abs_lista(lista):
  for i in range(len(lista)):
    lista[i] = abs(lista[i])

abs_lista(pearson_corr) # Se saca el valor absoluto para dejar los valores en 0 y 1
max_pearson_corr = np.max(pearson_corr)
num_col = np.argmax(pearson_corr)
names = list(data_m3_X_train.columns)
print("Variable con mayor correlación:",names[num_col])
print("El valor de la correlación es", max_pearson_corr)

Variable con mayor correlación: Income composition of resources
El valor de la correlación es 0.7292813364121956

Teniendo en cuenta los valores previamente mostrados, se confirma que la variable que más afectación tiene sobre la esperanza de vida es la variable de Composición de ingresos de los recursos (Income composition of resources).