<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto1/reto1_ML_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Reto 1**
### Curso de Machine Learning 2020-20
Autores:
*    Andrés Enrique Ávila Rojas (201319127)
*   Jeison Alexander Timana Rangel (Código)

**Predicción de la expectativa de vida**

In [1]:
# Import libraries 
import numpy as np 
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score # las dos medidas que se van a utilizar pero en diferentes datasets.
from sklearn.model_selection import train_test_split

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto1/Life_Expectancy_Data.csv

In [2]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto1/Life_Expectancy_Data.csv"
data  = pd.read_csv(url)

Se reemplazan los datos de la columna Status por una variable binaria, donde el 0 indica "Developing" y el 1 indica "Developed". Además se elimina la variable Country del conjunto de datos totales.

In [3]:
# Preparing data
data['Status'].replace(['Developing','Developed'],[0,1], inplace=True)
# Deleting variable named "Country"
del data['Country']
# Converting nan values to zero
data = data.fillna(0)
# Showing the data set
data.head(130)

     Year  Status  ...  Income composition of resources  Schooling
0    2015       0  ...                            0.479       10.1
1    2014       0  ...                            0.476       10.0
2    2013       0  ...                            0.470        9.9
3    2012       0  ...                            0.463        9.8
4    2011       0  ...                            0.454        9.5
..    ...     ...  ...                              ...        ...
125  2002       1  ...                            0.902       20.1
126  2001       1  ...                            0.899       20.5
127  2000       1  ...                            0.897       20.4
128  2015       1  ...                            0.892       15.9
129  2014       1  ...                            0.892       15.9

[130 rows x 21 columns]

Se separan los datos objetivo y los datos del modelo

In [4]:
# Target dataset (Life expectancy)
data_Y=data.loc[:,'Life expectancy ']
# Deleting the targets to define the whole dataset for models
del data['Life expectancy ']
data_X=data

Se parte en el conjunto de entrenamiento (train) y el de prueba (test) y se seleccionan los distintos modelos

In [5]:
data_X_train, data_X_test, data_Y_train, data_Y_test = train_test_split(data_X,data_Y, test_size=0.2)
# First model
data_m1_X_train = data_X_train.iloc[:, 0:11]
data_m1_X_test = data_X_test.iloc[:, 0:11]

# Second model
modelo_2 = ['Status','Adult Mortality','infant deaths','Alcohol','Hepatitis B','Measles ',' BMI ','under-five deaths ','Polio','Diphtheria ',' HIV/AIDS','GDP','Population',' thinness  1-19 years',' thinness 5-9 years']
data_m2_X_train = data_X_train.loc[:, modelo_2]
data_m2_X_test = data_X_test.loc[:, modelo_2]

# Third model
data_m3_X_train = data_X_train
data_m3_X_test = data_X_test

### **Regresión Lineal para el modelo 1**

In [6]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m1_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [ 6.14698281e-02  3.94665383e+00 -3.05925218e-02  1.52371134e-01
  2.80990564e-01  5.60552292e-04  2.06350513e-02 -1.93348192e-05
  8.28632689e-02 -1.13910317e-01  5.19704582e-02]
Intercepto: -60.30172775927328

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [7]:
# Making predictions using the testing set
data_m1_Y_predict = regr.predict(data_m1_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m1=r2_score(data_Y_test,data_m1_Y_predict)
k = data_m1_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m1 = 1-((n-1)/(n-k-1))*(1-r2_m1)

# Finding de Mean Squared Error
MSE_m1 = mean_squared_error(data_Y_test, data_m1_Y_predict)

# Show results in a table
results_m1 = np.array([r2_ajustado_m1,MSE_m1])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m1,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.685640
MSE                     29.837037

### **Regresión Lineal para el modelo 2**

In [8]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m2_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [ 3.33769547e+00 -1.93072361e-02  1.35154058e-01  3.04424527e-01
  1.25463140e-02 -1.76293416e-05  7.04410875e-02 -1.01086995e-01
  3.45019151e-02  3.52915594e-02 -5.15493506e-01  1.03735846e-04
  4.65550164e-10 -1.20108727e-01  6.87999449e-02]
Intercepto: 61.65959650474999

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [9]:
# Making predictions using the testing set
data_m2_Y_predict = regr.predict(data_m2_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m2=r2_score(data_Y_test,data_m2_Y_predict)
k = data_m2_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m2 = 1-((n-1)/(n-k-1))*(1-r2_m2)

# Finding de Mean Squared Error
MSE_m2 = mean_squared_error(data_Y_test, data_m2_Y_predict)

# Show results in a table
results_m2 = np.array([r2_ajustado_m2,MSE_m2])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m2,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.746212
MSE                     24.046681

### **Regresión Lineal para el modelo 3**

In [10]:
# Creating the linear regression object
regr = linear_model.LinearRegression()

# Training the model using the training sets
regr.fit(data_m3_X_train, data_Y_train)



# The coefficients
print('Coeficientes: \n', regr.coef_)
print("Intercepto:",regr.intercept_)

Coeficientes:
 [-4.41291346e-02  3.19430122e+00 -1.60459971e-02  1.16219001e-01
  2.60157635e-01 -6.28633414e-05  8.36493714e-03 -7.29911944e-06
  4.27788855e-02 -8.64737693e-02  2.93506686e-02 -8.89865508e-02
  2.47437946e-02 -5.30279083e-01  6.25230702e-05 -2.00151536e-09
 -4.68953911e-02 -1.78751348e-02  6.76157706e+00  2.35265166e-01]
Intercepto: 146.72314093993631

El siguiente cálculo se realiza teniendo en cuenta que el coeficiente de determinación ($R^2$) ajustado está dado por la siguiente fórmula:
\begin{align}
      R_{ajustado}^2=1-\frac{n-1}{n-k-1}(1-R^2)
\end{align}
Donde $n$ es el numero de puntos en las muestras y $k$ es el número de variables independientes. \\
Esto se realiza teniendo en cuenta que la función ``` r2_score ``` encuentra el coeficiente de determinanción ($R^2$), pero no ajustado.

Para el cálculo del error cuadrático medio se usa la función ``` mean_squared_error ```.

In [11]:
# Making predictions using the testing set
data_m3_Y_predict = regr.predict(data_m3_X_test)

# Finding the coefficient of determination (In mind: 1 is perfect prediction)
r2_m3=r2_score(data_Y_test,data_m3_Y_predict)
k = data_m3_X_train.shape[1]
n=len(data_Y_train)
r2_ajustado_m3 = 1-((n-1)/(n-k-1))*(1-r2_m3)

# Finding de Mean Squared Error
MSE_m3 = mean_squared_error(data_Y_test, data_m3_Y_predict)

# Show results in a table
results_m3 = np.array([r2_ajustado_m3,MSE_m3])
medida =['Coef. Determ. Ajustado', 'MSE']
pd.DataFrame(results_m3,medida,columns=['Valor'])

                            Valor
Coef. Determ. Ajustado   0.758381
MSE                     22.844651

### **Análisis y selección final del modelo**

In [12]:
medida =['Coef. Determ. Ajustado', 'MSE']
results = {'Modelo 1': results_m1,
           'Modelo 2': results_m2,
           'Modelo 3': results_m3}
pd.DataFrame(results,medida,columns=['Modelo 1','Modelo 2', 'Modelo 3'])

                         Modelo 1   Modelo 2   Modelo 3
Coef. Determ. Ajustado   0.685640   0.746212   0.758381
MSE                     29.837037  24.046681  22.844651

Como se puede notar en la tabla anterior, el mejor modelo es el modelo 3. Este modelo es el que cuenta con el coeficiente de derterminación ajustado más cercano a 1, y con el menor error cuadrático medio, por lo que es considerado el mejor. Este modelo incluía todas las variables entregadas y que podrían ser usadas para el análisis.

RESPONDER LA PREGUNTA: ¿Cual es la variable que afecta en mayor medida la esperanza de vida?