<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto1/reto1_ML_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Reto 1**
### Curso de Machine Learning 2020-20
Autores:
*    Andrés Enrique Ávila Rojas (201319127)
*   Jeison Alexander Timana Rangel (Código)

**Predicción de la expectativa de vida**

In [107]:
# Import libraries 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score # las dos medidas que se van a utilizar pero en diferentes datasets.
from sklearn.model_selection import train_test_split

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto1/Life_Expectancy_Data.csv

In [108]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto1/Life_Expectancy_Data.csv"
data  = pd.read_csv(url)

Se reemplazan los datos de la columna Status por una variable binaria, donde el 0 indica "Developing" y el 1 indica "Developed". Además se elimina la variable Country del conjunto de datos totales.

In [109]:
# Preparing data
data['Status'].replace(['Developing','Developed'],[0,1], inplace=True)
# Deleting variable named "Country"
del data['Country']
# Converting nan values to zero
pos_NaNs=isnan(data)
data[pos_NaNs]=0
# Showing the data set
data.head(130)

     Year  Status  ...  Income composition of resources  Schooling
0    2015       0  ...                            0.479       10.1
1    2014       0  ...                            0.476       10.0
2    2013       0  ...                            0.470        9.9
3    2012       0  ...                            0.463        9.8
4    2011       0  ...                            0.454        9.5
..    ...     ...  ...                              ...        ...
125  2002       1  ...                            0.902       20.1
126  2001       1  ...                            0.899       20.5
127  2000       1  ...                            0.897       20.4
128  2015       1  ...                            0.892       15.9
129  2014       1  ...                            0.892       15.9

[130 rows x 21 columns]

Se separan los datos objetivo y los datos del modelo

In [110]:
# Target dataset (Life expectancy)
data_Y=data.loc[:,'Life expectancy ']
# Deleting the targets to define the whole dataset for models
del data['Life expectancy ']
data_X=data

Se parte en el conjunto de entrenamiento (train) y el de prueba (test) y se seleccionan los distintos modelos

In [111]:
data_X_train, data_X_test, data_Y_train, data_Y_test = train_test_split(data_X,data_Y, test_size=0.2)
# First model
data_m1_X_train = data_X_train.iloc[:, 0:11]
# Second model
modelo_2 = ['Status','Adult Mortality','infant deaths','Alcohol','Hepatitis B','Measles ',' BMI ','under-five deaths ','Polio','Diphtheria ',' HIV/AIDS','GDP','Population',' thinness  1-19 years',' thinness 5-9 years']
data_m2_X_train = data_X_train.loc[:, modelo_2]
# Third model
data_m3_X_train = data_X_train

In [112]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(data_m1_X_train, data_Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [78]:
data.shape

(2938, 20)

In [105]:
#missing_values_count=data.isnull().sum()
#total_missing = missing_values_count.sum()
#total_cells = np.product(data.shape)
#total_missing/total_cells*100
#data.duplicated().sum()
#data.dtypes
#pos_NaNs=isnan(data)
#data[pos_NaNs]=0

0.0