<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto%202/Bono2_ML_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bono - Reto 2

Autor:
*   Andrés Enrique Ávila Rojas (201319127)¿

**Gradiente descendiente estocástico**

In [1]:
# Import libraries 
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto%202/weatherAUS.csv

In [2]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto%202/weatherAUS.csv"
data  = pd.read_csv(url)
data.head()

         Date Location  MinTemp  ...  RainToday  RISK_MM  RainTomorrow
0  2008-12-01   Albury     13.4  ...         No      0.0            No
1  2008-12-02   Albury      7.4  ...         No      0.0            No
2  2008-12-03   Albury     12.9  ...         No      0.0            No
3  2008-12-04   Albury      9.2  ...         No      1.0            No
4  2008-12-05   Albury     17.5  ...         No      0.2            No

[5 rows x 24 columns]

In [9]:
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

## Selección de variables númericas

In [17]:
# Se seleccionan las variables de tipo númerico
data_num = [var for var in data.columns if data[var].dtype!='O']
data[data_num].head()

   MinTemp  MaxTemp  Rainfall  Evaporation  ...  Cloud3pm  Temp9am  Temp3pm  RISK_MM
0     13.4     22.9       0.6          NaN  ...       NaN     16.9     21.8      0.0
1      7.4     25.1       0.0          NaN  ...       NaN     17.2     24.3      0.0
2     12.9     25.7       0.0          NaN  ...       2.0     21.0     23.2      0.0
3      9.2     28.0       0.0          NaN  ...       NaN     18.1     26.5      1.0
4     17.5     32.3       1.0          NaN  ...       8.0     17.8     29.7      0.2

[5 rows x 17 columns]

## Selección de variables númericas

Ahora se crea un nuevo data frame con las variables númericas y la variable objetivo, para posteriormente hacer la limpieza de los datos

In [18]:
data_main = data[data_num+['RainTomorrow']]
data_main.head()

   MinTemp  MaxTemp  Rainfall  ...  Temp3pm  RISK_MM  RainTomorrow
0     13.4     22.9       0.6  ...     21.8      0.0            No
1      7.4     25.1       0.0  ...     24.3      0.0            No
2     12.9     25.7       0.0  ...     23.2      0.0            No
3      9.2     28.0       0.0  ...     26.5      1.0            No
4     17.5     32.3       1.0  ...     29.7      0.2            No

[5 rows x 18 columns]

Se verifican los valores nulos dentro del dataframe resultante

In [6]:
def missing_values_table(df): 
        val_per = df.isnull().sum()
        porcentaje_val_per = 100 * df.isnull().sum()/len(df)
        tabla_val_per = pd.concat([val_per, porcentaje_val_per], axis=1)
        tabla_val_per_ren_columnas = tabla_val_per.rename(
        columns = {0 : 'Valores perdidos', 1 : '% sobre el total'})
        return tabla_val_per_ren_columnas

In [7]:
missing_values_table(data[data_num])

               Valores perdidos  % sobre el total
MinTemp                     637          0.447983
MaxTemp                     322          0.226453
Rainfall                   1406          0.988797
Evaporation               60843         42.789026
Sunshine                  67816         47.692924
WindGustSpeed              9270          6.519308
WindSpeed9am               1348          0.948007
WindSpeed3pm               2630          1.849599
Humidity9am                1774          1.247600
Humidity3pm                3610          2.538803
Pressure9am               14014          9.855619
Pressure3pm               13981          9.832411
Cloud9am                  53657         37.735332
Cloud3pm                  57094         40.152469
Temp9am                     904          0.635756
Temp3pm                    2726          1.917113
RISK_MM                       0          0.000000