<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto%202/Reto2_ML_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto 2

Autores:
*   Andrés Enrique Ávila Rojas (201319127)
*   Jeison Alexander Timana Rangel (201617870)

**Regresión Logística - Predicción de lluvia**

In [ ]:
# Import libraries 
import numpy as np 
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score # las dos medidas que se van a utilizar pero en diferentes datasets.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/ML_2020/blob/master/Reto%202/weatherAUS.csv

In [ ]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/ML_2020/master/Reto%202/weatherAUS.csv"
data  = pd.read_csv(url)
data.head()

         Date Location  MinTemp  ...  RainToday  RISK_MM  RainTomorrow
0  2008-12-01   Albury     13.4  ...         No      0.0            No
1  2008-12-02   Albury      7.4  ...         No      0.0            No
2  2008-12-03   Albury     12.9  ...         No      0.0            No
3  2008-12-04   Albury      9.2  ...         No      1.0            No
4  2008-12-05   Albury     17.5  ...         No      0.2            No

[5 rows x 24 columns]

###Análisis de variables

Este análisis se realiza con el fin de conocer los datos con los que se generará el modelo y posteriormente análizarlos estadísticamente.

Se obtiene el tipo de cada una de las variables

In [ ]:
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [ ]:
#Tamaño del dataframe
data.shape

(142193, 24)

Se determina si existen valores perdidos en cada una de las variables

In [ ]:
def missing_values_table(df): 
        val_per = df.isnull().sum()
        porcentaje_val_per = 100 * df.isnull().sum()/len(df)
        tabla_val_per = pd.concat([val_per, porcentaje_val_per], axis=1)
        tabla_val_per_ren_columnas = tabla_val_per.rename(
        columns = {0 : 'Valores perdidos', 1 : '% sobre el total'})
        return tabla_val_per_ren_columnas

In [ ]:
missing_values_table(data)

               Valores perdidos  % sobre el total
Date                          0          0.000000
Location                      0          0.000000
MinTemp                     637          0.447983
MaxTemp                     322          0.226453
Rainfall                   1406          0.988797
Evaporation               60843         42.789026
Sunshine                  67816         47.692924
WindGustDir                9330          6.561504
WindGustSpeed              9270          6.519308
WindDir9am                10013          7.041838
WindDir3pm                 3778          2.656952
WindSpeed9am               1348          0.948007
WindSpeed3pm               2630          1.849599
Humidity9am                1774          1.247600
Humidity3pm                3610          2.538803
Pressure9am               14014          9.855619
Pressure3pm               13981          9.832411
Cloud9am                  53657         37.735332
Cloud3pm                  57094         40.152469
Temp9am                     904          0.635756
Temp3pm                    2726          1.917113
RainToday                  1406          0.988797
RISK_MM                       0          0.000000
RainTomorrow                  0          0.000000

Se verifica que no filas de datos repetidas

In [ ]:
data.duplicated().sum()

0

Identificación de los valores únicos de las variables RainToday y RainTomorrow

In [ ]:
data.RainToday.unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
data.RainTomorrow.unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
data.Location.unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [ ]:
data.WindGustDir.unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', 'ENE', 'SSE',
       'S', 'NW', 'SE', 'ESE', nan, 'E', 'SSW'], dtype=object)

###Estandarización de variables

Se crea un dataset con las variables no categoricas para realizar la estandarización y conocer la influencia de cada varible sobre la variable de interés, que en este caso es "RainTomorrow"

In [ ]:
temp_data =

In [ ]:
data_estandar = StandardScaler()
data_estandar = pd.DataFrame(data_estandar.fit_transform(data), columns = data.columns) 
data_estandar.head()

ValueError: ignored